.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 23.4375rem;
  height: 100%;
  background-color: #ffffff;
  position: relative;
  border: 0.0625rem solid black;
}

.topBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.125rem;
  background-color: #fafafa;
  box-shadow: 0rem 0.020625rem 0rem 0rem #a6a6aa;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.25rem;
  box-sizing: border-box;
}

.logo {
  width: 1.5625rem;
  height: 1.625rem;
  flex-shrink: 0;
}

.headerText {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.004375rem;
  color: #262626;
  margin-left: 1rem;
  line-height: 1.125rem;
}

.blueprint {
  color: #0078e8;
}

.contentScroll {
  margin-top: 3.125rem;
}

.profileIcon {
  width: 40px;
  height: 40px;
  fill: #d9d9d9;
}

.posterName {
  display: flex;
  width: 233px;
  height: 32px;
  flex-direction: column;
  justify-content: center;

  color: #262626;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px; /* 138.462% */
  letter-spacing: -0.07px;
}

.postLocation {
  display: flex;
  width: 99px;
  height: 8px;
  flex-direction: column;
  justify-content: center;

  color: #979797;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05px;
}

.postImage {
  width: 346px;
  height: 231px;

  border-radius: 10px;
}

.captionText {
  display: flex;
  width: 345px;
  height: 145px;
  flex-direction: column;
  justify-content: center;

  color: #262626;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 138.462% */
}

.likes {
  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 180% */
}

.viewComments {
  color: #000;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 180% */
}

.heartIcon {
  width: 24px;
  height: 21px;
}

.tbMessageCircle {
  height: 23.344px;
  flex-shrink: 0;
  align-self: stretch;
}

.shareIcon {
  width: 23px;
  height: 20px;
}

.postDate {
  display: flex;
  width: 76px;
  height: 8px;
  flex-direction: column;
  justify-content: center;

  color: #979797;
  font-family: Poppins;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.05px;
}
